.background {
    background-image: url('../../assets/img/e3011b3e-c9c3-4636-9b9f-2b59408e2e51.jpg');
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    // .container_modify{
    //     position: relative;
    //     top: 20%;
    // }
}